<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SASS Tutorial</title>
    
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
<link rel="stylesheet" href="css/styles.css">
    
</head>
<body>
  <div id="wrapper">
      
    <main class="content">
        
        <div class="contact">
        <h2>Contact</h2>
            <article>
                <p>email: alexbirchmedia@gmail.com
                    <br /> <br />
                Tell: 0044 7703 815974</p>
                

            </article>
        </div>
     
    </main>

  </div> <!-- End of Wrapper -->
</body>
</html>